$icon-size: 55px;
$dark-overlay: rgba(0, 0, 0, 0.7);
body {
    overflow-x: hidden;
}

section#content {
    min-height: calc(100vh - 56px - 94px);
}

.navbar {
  .navbar-brand {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: x-large;
    color: darken(#76e0f3, 30%);
    span {
      padding-left: 0.3em;
      color: darken(#8bc272, 25%);
    }
  }
  .nav-link {
    font-size: 14px;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .nav-item.active {
    border-left: #444 3px solid;
  }
}

.single-img {
  cursor: pointer;
  width: 100%;
  height: 350px;
}

.container {
  &.home {
    height: calc(100vh - 100px);
  }
}

.landing-text {
    font-weight: 900;
    font-family: serif;
    color: rgb(82, 82, 82);
    font-size: 40px;
    p {
        font-size: 64px;
    color: darken(#8bc272, 25%);
    span {
      color: darken(#76e0f3, 30%);
    }
  }
}

.nonagon-loader {
  height: calc(100vh - 260px);
}

.not-found {
  width: 100%;
  text-align: center;
}